.captioned-image
  text-align: center

  img, .caption
    width: 80%
    display: block
    margin: 0 auto

  img, .caption
    margin-bottom: 0

  img 
    margin-top: spacing(medium,2) 
  .caption
    margin-top: spacing(smallest)
    +fontsize(smallest)


.window-chrome
  margin-top: 3rem
  position: relative
  $top_bar_height: 30px
  background: url('/assets/images/crossword.png')

  .btns
    display: block
    right: 0
    top: 0
    height: $top_bar_height
    margin-top: -1 * $top_bar_height
   

    .btn
      +circle(11px)
      top: 9px
      position: absolute
      border: 1px solid #cfcfcf

      &.a
        right: 10px
        background: red
      &.b
        right: 30px
        background: green
      &.c
        right: 50px
        background: blue


  img 
    border: 1px solid #cfcfcf
    display: block
    border-radius: 3px
    border-top-left-radius: 0
    border-top-right-radius: 0
    border-top: none
    margin-top: 0

  &::before
    height: $top_bar_height

    border-top-left-radius: 4px
    border-top-right-radius: 4px
    display: block
    width: 100%
    margin: 0 auto
    content: " "
    border: 1px solid #cfcfcf
    border-bottom: 1px dotted#cfcfcf

    &:after
      display: block
      background: black
      width: 30px
      height: 30px
      content: ""
