.home 
  text-align: left
  .row
    &:nth-child(1)
      padding-left: 0
    &:nth-child(2)
      padding-left: 20%
    &:nth-child(3)
      padding-left: 40%
    &:nth-child(4)
      padding-left: 60%
    &:nth-child(5)
      padding-left: 80%
    &:nth-child(6)
      padding-left: 100%


  a
    display: inline-block
    text-align: center
    +fontsize(biggest)
    margin-bottom: +spacing(biggest)
