html#home body .wrapper
  main
    display: none
  nav
    width: 200px
    display: inline-block
    position: static
    padding: 0
    margin: 0 auto
    text-align: left
    float: none
    a.guy
      float: none

    a
      .title
        padding-left: 15px
        border-left: 1px dotted #cfcfcf
        display: inline-block
      &:before

      &:hover
        color: black
