.home 
  text-align: left
  overflow: visible

  .row
    overflow: visible
    a
      overflow: visible
      width: 32%


  a
    display: inline-block
    text-align: center
    +fontsize(biggest)
    margin-bottom: +spacing(biggest)
