#keyboard
  border: 1px dotted #e8e8e8
  background: #eee
  width: 100%

  tr
    margin: 10px
    background: #e8e8e8

    td
      background: #fff
      padding: 8px
      text-align: center
      border: 1px dashed #ccc
      margin: 5px

      &.hit
        background: #eee

.code-table
  width: 100%


  +fontsize(smallest)
  tr
    margin: 10px
    background: #e8e8e8
    &:first-child
      td
        font-weight: bold
        background: #e8e8e8

    td
      &:nth-child(2)
        width: 100px



      background: #fff
      padding: 8px
      border: 1px solid #ccc
      margin: 5px




