#keyboard
  border: 1px dotted #e8e8e8
  background: #eee
  width: 100%

  tr
    margin: 10px
    background: #e8e8e8

    td
      background: #fff
      padding: 8px
      text-align: center
      border: 1px dashed #ccc
      margin: 5px

      &.hit
        background: #eee
