.interface
  +fontsize(smallest)
  margin-bottom: spacing(medium)    


 
.status
  cursor: help
  display: inline-block
  content: ""
    
  &.production
    background: #9CFF97
  &.experimental
    background: #FFC98D

h1 .status
  +circle(6px)

// Interface individual pages styling
h2 .status
  +circle(3px)

body .bar .interface-demo
  width: 100%
  box-sizing: border-box
  padding-right: 2px

html#section-entry.interfaces
  section.content .bar p
    &:first-child::first-letter
      +fontsize(bigger)


.code-table
  width: 100%


  +fontsize(smallest)
  tr
    margin: 10px
    background: #e8e8e8
    &:first-child
      td
        font-weight: bold
        background: #e8e8e8

    td
      &:nth-child(2)
        width: 100px



      background: #fff
      padding: 8px
      border: 1px solid #ccc
      margin: 5px
// Individual Pages



//
//
// > Interfaces/Mmvp.js
body section#demo
  border: 1px dotted #cfcfcf
  border-radius: 3px

  nav
    padding: 14px 0

    h3
      padding: 0 10px

      &.active
        &::before
          top: 26px
        &::after
          bottom: -14px

  pre
    border: none
// < Interfaces/Mmvp.js


//
//
// > Interfaces/Asciiw
body section#demo
.ascii-frames
  text-align: center
// < Interfaces/Asciiw


//
//
// > Interfaces/Markdown Tree
#markdown-tree
  a
    border-bottom: none
    font-family: sans
    padding-left: 20px 
    padding-right: 5px
  
    background-image: url('/interfaces/Markdown-Tree/folder.png')
    background-repeat: no-repeat
    background-position: left center

    &:last-child 
      color: black
      font-size: 14px
  

  #path
    border: 1px solid #dfdfdf
    padding: 5px 10px  
    background: #eaeaea
    
  #menu
    border: 1px solid #dfdfdf
    border-top: none
    padding: 5px 10px  
    margin-bottom: 5px  
    background: #f4f4f4
  
  #menu ul
    margin: 0
    border: none
    
    li  
      background-image: url('/images/page.png')
      background-repeat: no-repeat
      background-position: left center
    
    
      display: inline-block
      list-style: none
      font-size: 12px
      padding-left: 20px
      padding-right: 10px
      line-height: 10px
      border-right: 1px dotted #d4d4d4

      &.page a
        background-image: url('/interfaces/Markdown-Tree/page.png') 
      &.folder a
        background-image: url('/interfaces/Markdown-Tree/folder.png')
      &.current a
        background-image: url('/interfaces/Markdown-Tree/page_edit.png')

        a
          color: black
// < Interfaces/Markdown Tree
    
    

//
//
// > Interfaces/Mil Edit
#editor
  box-sizing: border-box
  ul li
    list-style-type: none
// < Interfaces/Mil Edit



//
//
// > Interfaces/Keyboard Tiler
#keyboard
  table-layout: fixed
  border: 1px dotted #e8e8e8
  background: #eeeborder-collapse
  width: 100%
  box-sizing: border-box

  tr
    margin: 10px
    background: #e8e8e8

    td
      overflow: hidden
      background: #fff
      padding: 8px 0
      text-align: center
      border: 1px dashed #ccc
      margin: 5px
      width: 400px
      max-width: 100%


      &.act
        font-weight: bold
      &.hit
        background: #eee

      &:last-child
// < Interfaces/Keyboard Tiler
