@font-face
  src: url('../ttf/Raleway-Regular.ttf')
  font-family: Raleway
  font-weight: normal

@font-face
  src: url('../ttf/Raleway-Light.ttf')
  font-family: Raleway
  font-weight: 300



@font-face
  src: url('../ttf/OpenSans-Light.ttf')
  font-family: Open Sans

@font-face
  src: url('../ttf/CutiveMono-Regular.ttf')
  font-family: Cutive Mono

@font-face
  src: url('../ttf/Lusitana-Regular.ttf')
  font-family: Lusitana

@font-face
  src: url('../ttf/LiberationSans-Regular.ttf')
  font-family: Liberation Sans

@font-face
  src: url('../ttf/LiberationSans-Bold.ttf')
  font-weight: bold
  font-family: Liberation Sans
