[submodule "src/interfaces/demos/Mil-Edit/1"]
	path = src/interfaces/demos/Mil-Edit/1
  url = http://github.com/mil/mil-edit

[submodule "src/interfaces/demos/Mil-Edit/2"]
	path = src/interfaces/demos/Mil-Edit/2
  url = http://github.com/mil/mil-edit-2

