[submodule "src/interfaces/demos/Mil-Edit/1"]
	path = src/interfaces/demos/Mil-Edit/1
	url = git://github.com/mil/mil-edit.git

[submodule "src/interfaces/demos/Mil-Edit/2"]
	path = src/interfaces/demos/Mil-Edit/2
	url = git://github.com/mil/mil-edit-2.git

[submodule "src/interfaces/demos/Asciiw.com/site"]
	path = src/interfaces/demos/Asciiw.com/site
	url = git://github.com/mil/asciiw.com.git
