<div class='page-info'>
  <h1>{{ title }}</h1>
  <div class='filter-by'>
    <button class='active'>All</button>
    <button>Linux</button>
    <button>Javascript</button>
    <button>Misc</button>
  </div>

</div>

<div class='bar'>

<div class='interfaces-list'>  
  {% for entry in entries %}

  <a 
    class='interface filter-el visible' 
    href="{{ entry.url }}"
    {% for category in entry.categories %}
      data-category-{{ catogory }}
    {% endfor %}
  >
  <entry>
    <h2>{{ entry.title }}</h2>
    <span class='date'>{{ entry.date }}{{ entry.time }}</span>
    {{ entry.description }}
  </entry>
  </a>
  {% endfor %}

</div>
</div>
