<div class='page-info'>
  <h1><%= title %></h1>
  <div class='filter-by'>
    <button class='active'>All</button>
    <button>Linux</button>
    <button>Javascript</button>
    <button>Misc</button>
  </div>

</div>

<div class='bar'>

<div class='interfaces-list'>  
<% _.forEach(entries, function(entry) { %>

  <a 
    class='interface filter-el visible' 
    href="<%- entry.url %>"
    <% _.forEach(entry.categories, function(category) { %>
      data-category-<%= category %>
    <% }); %>
  >
  <entry>
    <h2><%- entry.title %></h2>
    <span class='date'> <%- entry.date %> <%- entry.time %></span>
    <%= entry.description %>
  </entry>
  </a>

<% }); %>
</div>
</div>
