.audio-player
  .music-entry
    cursor: pointer

  .controls
    text-align: center

    .date-caption, svg
      vertical-align: middle


    .date-caption
      display: inline-block
      position: relative
      border-right: 1px dotted #cfcfcf
      padding-left: 3px
      padding-right: 15px
      margin-right: 20px
      width: 45px
      height: 18px
      text-align: left
      +fontsize(smallest, 0.9)

      .inner
        position: absolute
        top: 0
        opacity: 1
        transition: 0.6s all ease-in-out

      &.fade-down
        .inner
          top: 20px
          opacity: 0
          transition: 0.6s all ease-in-out

    svg
      cursor: pointer
      width: 14px
      height: 14px
      color: #888



    svg.play-pause
      width: 16px
      height: 16px
      .pause
        opacity: 0

      &.playing
        .pause
          opacity: 1
        .play
          opacity: 0
