$sidebar_width: 210px
$print_mode: false

$date_color: #404040
$heading_color: $link_color
$block_bottom: spacing(medium, 1)

@mixin reset_styles
  h1, h2, h3, header
    margin: 0
    padding: 0


.cv
  width: 100%
  max-width: 800px 
  padding: 60px 30px
  box-sizing: border-box

  margin: 0 auto
  overflow: hidden
  clear: both

  +reset_styles
  h3
    color: $heading_color

  .col
    &.left
      width: $sidebar_width
      float: left
    &.right
      margin-left: $sidebar_width


.cv .col.left

  padding-right: 30px

  box-sizing: border-box
  $spacing: 2rem
  margin-bottom:  $spacing
  padding-bottom: $spacing
  p
    margin: 0
   
  img
    //border-radius: 110px
    border: 4px solid white
    box-shadow: 3px 4px 0 #cfcfcf
    border-radius: 110px
    display: inherit
    margin: 0 auto
    margin-bottom: 18px

    display: none

  h1
    +fontsize(biggest)

  h2
    +fontsize(smallest)

  .overview
    text-align: left
    margin-bottom: 20px
    padding-bottom: 20px
    border-bottom: $seperator_line

  h3
    margin: 0 auto

  ul.listing
    margin: 0
    list-style-type: none
    +fontsize(smallest)
    line-height: 1.3335rem
    margin-bottom: $block_bottom
    margin-top: 5px

    li
      margin-bottom: 3px
      &:before
        float: left
        content: "\00BB"
        padding-right: 10px





  .icons
    text-align: center
    a
      svg
        $size: 12px
        width: $size
        height: $size




.cv .col.right
  border-left: $seperator_line
  padding-left: 30px
  padding-top: 29px


  h2
    //+fontsize(smaller)
    display: inline-block
    margin-bottom: 0
    padding-bottom: spacing(smallest, 0.5)
    vertical-align: top
    border-bottom: $seperator_line
    margin-bottom: $block_bottom


  section
    margin-bottom: spacing(biggest)


    p
      +fontsize(smaller)
      margin-bottom: $block_bottom

    span.date
      border-left: $seperator_line
      padding-left: 10px
      margin-left: 10px
      +fontsize(smallest)
      color: $date_color
