body a 
  color: $link_color
  text-decoration: none

section.content 
  a
    border-bottom: 1px dotted $link_color
    transition: $transition_in

    h2 
      color: $link_color
      transition: $transition_out

    &:hover
      transition: $transition_in
      border-bottom: 1px solid $link_color
      text-decoration: none
