.wrapper main header
  +fontsize(smallest)
  color: #888
  border-bottom: $seperator_line

  span.description
    display: block

  button
    cursor: pointer
    padding: 0
    margin: 0
    background: none
    border: none
    outline: none

    +fontsize(smallest)

    margin-right: 1rem

    &:last-child
      margin-right: 0


    color: #cfcfcf
    &:hover
      color: $link_hover

    &.active
      color: #888888

  a.up
    float: right
   
  h1
    margin: 0
  .links
    .link
      display: inline-block
      padding-right: 1rem
    a  
      +fontsize(smallest)

      &.sub //smaller style for mil-edit page
        font-size: 0.4rem
      &:hover
        color: $link_hover

