body .entry-list {
  &.hardware {
    a {
      max-height: 170px;
      overflow: hidden;
      border: none;
    }
    a:hover {
      text-decoration: none;
      border: none;
    }
    .listing-entry {
      clear: both;
      display: block;
      background-size: 100%;
      position: relative;
      h2 {
        bottom: 20px;
        margin-left: 20px;
        color: white;
        text-shadow: 5px 1px 8px black;
        position: absolute;
      }
      img {
        display: block;
      }
    }
  }
}
