.model {
  overflow: hidden;
  position: relative;
  .source {
    display: block;
    text-align: right;
  }
  img {
    width: 100%;
  }
  code {
    position: absolute;
    display: block;
    font-size: 0.8em;
    white-space: pre-wrap;
    padding: 0 30px;
    border: 1px dashed #cfcfcf;
    &.show {
      display: block;
    }
  }
}
