<!doctype html>
<html id='page-cv'>
  <head>{% include "_partials/head.html" %}</head>
  <body>

    <main class='cv'>

      <div class='left col'>
        <div class='overview'>
          <div class='inner'>
            <img src="/assets/images/headshot.jpg" alt="Miles Alan Sandlar">
            <h1>
              Miles Alan

              <span class='icons'>
                {% for icon in icons %}
                  <a href="{{icon.url}}"><svg class="icon-{{ icon.symbol||raw }}"><use xlink:href="/assets/images/icons.svg#icon-{{ icon.symbol||raw }}"></use></svg></a>
                {% endfor %}
              </span>


            </h1>
            <h2>
              Front-End Dev Consultant
            </h2>

          </div>
        </div>



        <h3>Specializations</h3>
        <ul class='listing'>
        {% for skill in specializations %}
          <li>{{skill}}</li>
        {% endfor %}
        </ul>

        <h3>Languages</h3>
        <ul class='listing'>
          {% for skill in languages %}
            <li>{{skill}}</li>
          {% endfor %}
        </ul>

        <h3>Libraries</h3>
        <ul class='listing'>
        {% for skill in libraries %}
          <li>{{skill}}</li>
        {% endfor %}
        </ul>

      </div>




      <div class='right col'>

        <h2>Experience</h2>
        <section>
        {% for employer in employment %}
          <div>

            <h3>{{ employer.company }}<span class='date'>{{ employer.time }}</span></h3>
            <p>{{ employer.description|raw }}</p>
          </div>
        {% endfor %}
        </section>

        <h2>Education</h2>
        <section>
        {% for educator in education %}
          <div>

            <h3>{{ educator.company }}<span class='date'>{{ educator.time }}</span></h3>
            <p>{{ educator.description|raw }}</p>
          </div>
        {% endfor %}
        </section>


      </div>


    </main>
  </body>
</html>
