@mixin keyframes($animation_handle) {
  @keyframes #{$animation_handle} {
    @content;
  }
}

@include keyframes(fadeIn) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    display: block;
  }
}


@include keyframes(fadeOut) {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}


@include keyframes(fadeDown) {
  from {
    opacity: 0;
    top: -30px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}


@include keyframes(fadeUp) {
  from {
    opacity: 1;
    top: 0;
  }
  to {
    opacity: 0;
    top: -30px;
  }
}


@include keyframes(fadeInDoubly) {
  from {
    opacity: 0;
    top: 50px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}


@include keyframes(sizeUp) {
  from {
    width: 18px;
    height: 18px;
  }
  to {
    width: 20px;
    height: 20px;
  }
}


@include keyframes(toBlack) {
  from {
    color: #888888;
  }
  to {
    color: $link_hover;
  }
}


@include keyframes(toBlue) {
  from {
    color: #888888;
  }
  to {
    color: $link_hover;
  }
}


@mixin animate($animation_type, $delay: 0s) {
  animation-delay: $delay;
  animation: #{$animation_type};
}
