.wrapper main header {
  @include fontsize(smallest);
  color: #888;
  border-bottom: $seperator_line;
  span.description {
    display: block;
  }
  button {
    cursor: pointer;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    outline: none;
    @include fontsize(smallest);
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
    color: #cfcfcf;
    &:hover {
      color: $link_hover;
    }
    &.active {
      color: #888888;
    }
  }
  h1 {
    margin: 0;
  }
  .links {
    .link {
      display: inline-block;
      padding-right: 1rem;
    }
    a {
      @include fontsize(smallest);
      &.sub {
        font-size: 0.4rem;
      }
      &:hover {
        color: $link_hover;
      }
    }
  }
}
