$seperator_line: 1px dotted #cfcfcf
$root_font: Libre Baskerville

html
  //background: #f9fddf
  font-size: 16px

  
  body
    +fontsize(medium)
    font-family: $root_font
    color: #57534a

  button
    font-family: $root_font

  a 
    text-decoration: none
    color: #111111
    &:hover, &:hover h2
      color: black
      transition: all .2s ease-in

    &.block.link
      &:hover
        text-decoration: none
        h2
          display: inline-block
          //background: #ffffcc 
        span.date
          //display: block
      
  sub
    +fontsize(smallest)

  ol 
    list-style-position: inside
    list-style-type: decimal

  ul
    list-style-position: inside
    list-style-type: disc
    margin-left: spacing(medium)


  // Bottom margin
  p, ol, ul, .block, p, pre, hr, .poster, blockquote, table
    margin-bottom: spacing(medium)

    display: block

  ol
    li
      +fontsize(smaller)

    &.footnotes
      padding: 0 30px
      border-left: 1px solid #cfcfcf
      +fontsize(smallest)

  h1,h2,h3,h4,h5
    color: #423f37
  h1
    +fontsize(biggest)
    margin: 1rem 0
  h2
    +fontsize(bigger)
    color: #080d3b

  b, strong
    font-weight: bold
  i, em
    font-style: italic

  img
    max-width: 100%
    &.fill-width
      width: 100%

  hr
    display: inline-block
    border: none
    height: 0
    width: 100px
    margin-top: spacing(medium, 1)
    text-align: left
    border-top: $seperator_line
    //margin: spacing(medium, 3) 0
    //&.hidden
    //  border-top: none

   
  table
    width: 100%


    +fontsize(smallest)
    tr
      margin: 10px
      background: #e8e8e8
      border: 1px solid #ccc
      td,th
        border: 1px solid #ccc
        padding: 8px
        margin: 5px
        
        &:last-child
          width: 100%

    thead

      th
        font-weight: bold
        background: #e8e8e8


    tbody
      td
        width: auto
        background: #fff
        &:nth-child(2)
          width: 100px






  // Code style
  code, pre
    font-family: Ubuntu Mono
    +fontsize(smaller)
    border: 1px dashed #cfcfcf

  pre 
    display: block
    padding: 1rem
    overflow-x: auto

  code 
    display: inline-block
    padding: 0 0.2rem
    margin: 0 0.2rem
    border: 1px solid #cfcfcf
    border-radius: 3px 
  
  blockquote
    .author
      +fontsize(smallest)
    
  section.content
    a
      $link_color: #002e7d
      border-bottom: 1px dotted $link_color
      color: $link_color
      transition: all 2 ease-in
      &:hover
        transition: all 2 ease-in
        border-bottom: 1px solid $link_color
        text-decoration: none




.wrapper
  max-width: 550px
  width: 100%
  margin: 0 auto

  padding: 0 spacing(biggest)
  padding-top: 5rem

  +box-sizing(border-box)
  overflow: hidden

  nav, main
    display: block
           
  
  main
    transition: all 1s ease-in-out

    transition: all 0.5s ease-in-out
    overflow: hidden
    position: relative
    +animate(fadeDown 1s)

    &.fade-up
      +animate(fadeUp 1s)


    footer
      border-top: $seperator_line
      padding-top: +spacing(biggest, 0.5)
      margin: +spacing(biggest, 2) 0

      .pagination-links
        float: right
        text-align: right


img[data-category-model]
  cursor: pointer

.model
  overflow: hidden
  position: relative
  .source
    display: block
    text-align: right
  img
    width: 100%
  code
    position: absolute
    display: block
    font-size: 0.8em
    white-space: pre-wrap
    padding: 0 30px
    border: 1px dashed #cfcfcf
    &.show
      display: block


.filter-el
  display: none
  transition: all 1s ease-in-out

  &.visible
    transition: all 1s ease-in-out
    display: block
    opacity: 1



.interface
  +fontsize(smallest)
  margin-bottom: spacing(medium)    




entry
  span.date, span.subline
    display: block
    color: #888
    &.date
      +fontsize(smaller)
    &.subline
      +fontsize(smallest)

// Entry list types
.entry-list

  &.hardware
    a
      max-height: 170px
      overflow: hidden
    a:hover
      text-decoration: none

    entry
      clear: both
      display: block
      background-size: 100%

      h2
        margin-top: 120px
        padding-bottom: 20px
        margin-left: 20px
        color: white
        text-shadow: 5px 1px 8px black
        position: absolute
      img
        display: block
    

.captioned-image
  text-align: center

  img, .caption
    width: 80%
    display: block
    margin: 0 auto

  img 
    margin-bottom: 0
    margin-top: spacing(medium,2)
  
  .caption
    margin-top: spacing(smallest)
    margin-bottom: 3rem
    +fontsize(smallest)

.model-preview
  height: 120px
  overflow: hidden
  display: block
  border-bottom: 1px dashed #cfcfcf
  img
    margin-top: -20px


.window-chrome
  border: 1px solid #cfcfcf
  border-radius: 3px

  &::before
    display: block
    height: 20px
    width: 100%
    content: " "
    background: #cfcfcf
    border: 1px solid #cfcfcf


::-moz-selection
  background: #ffffcc
::selection
  background: #ffffcc
