$seperator_line: 1px dotted #cfcfcf
$root_font: Libre Baskerville

::-moz-selection
  background: #ffffcc
::selection
  background: #ffffcc

html
  //background: #f9fddf
  font-size: 16px

  .center
    text-align: center

  
  body
    +fontsize(medium)
    font-family: $root_font
    color: #57534a

  button
    font-family: $root_font

  a 
    text-decoration: none
    color: #111111
    &:hover, &:hover h2
      color: black
      transition: all .2s ease-in

    &.block.link
      border: none
      &:hover
        border: none
        text-decoration: none
        h2
          display: inline-block
          //background: #ffffcc 
        span.date
          //display: block
      
  sub, sup
    +fontsize(smallest)

  sup
    vertical-align: top
    padding-right: 2px


  ol 
    list-style-position: inside
    list-style-type: decimal

  ul
    list-style-position: inside
    list-style-type: disc
    margin: 0 spacing(medium,2)


  // Bottom margin
  p, ol, ul, .block, p, hr, .poster, blockquote
    margin-bottom: spacing(medium)
    display: block
  .filter-el
    margin-bottom: spacing(medium)


  // Double bottom margain
  table, pre, .captioned-image, .interface-demo
    margin: spacing(medium, 2) 0

  h2
    margin-bottom: spacing(medium, 0.5)
    display: block

  .listing-entry h2
    margin-bottom: 0 
    
  ol
    li
      +fontsize(smaller)

    &.footnotes
      &:before
        display: block
        height: 0
        border-top: 1px dotted #cfcfcf
        content: ""
        margin: spacing(medium, 3) 0

        +hr
        margin-top: 6rem
        margin-left: -20px
        margin-bottom: 3rem

      li
        margin-bottom: spacing(medium)



      list-style-position: outside
      padding: 0 20px
      +fontsize(smallest)

  h1,h2,h3,h4,h5
    color: #423f37
  h1
    +fontsize(biggest)
    margin: 1rem 0
  h2
    +fontsize(bigger)
    color: #080d3b
    margin-top: spacing(medium,4)

  .bar h2:first-child, .listing-entry h2
    margin-top: 0
    

  b, strong
    font-weight: bold
  i, em
    font-style: italic

  img
    image-rendering: optimizeQuality

    max-width: 100%
    &.fill-width
      width: 100%

  hr
    display: block
    border: none
    height: 0
    +hr


  table
    width: 100%
    +fontsize(smallest)
    tr
      margin: 10px
      background: #e8e8e8
      border: 1px solid #ccc
      td,th
        border: 1px solid #ccc
        padding: 8px
        margin: 5px
        
        &:last-child
          max-width: 100%

    thead
      th
        font-weight: bold
        background: #e8e8e8


    tbody
      td
        width: auto
        background: #fff

    td,th
      &:nth-child(2)
        width: 140px

  // Code style
  code, pre
    font-family: Ubuntu Mono
    +fontsize(smaller)
    border: 1px dashed #cfcfcf

  pre 
    display: block
    padding: 1rem
    overflow-x: auto

  code 
    display: inline-block
    padding: 0 0.2rem
    margin: 0 0.2rem
    border: 1px solid #cfcfcf
    border-radius: 3px 
  
  blockquote
    .author
      +fontsize(smallest)

  section.content
    a
      $link_color: #002e7d
      border-bottom: 1px dotted $link_color
      color: $link_color
      transition: all 2 ease-in
      &:hover
        transition: all 2 ease-in
        border-bottom: 1px solid $link_color
        text-decoration: none




.wrapper
  max-width: 550px
  width: 100%
  margin: 0 auto

  padding: 0 spacing(biggest)
  padding-top: 5rem

  +box-sizing(border-box)

  nav, main
    display: block
            
  main
    transition: all 0.5s ease-in-out
    position: relative
    +animate(fadeDown 1s)

    &.fade-up
      opacity: 0
      +animate(fadeUp 1s)


    footer
      border-top: $seperator_line
      padding-top: +spacing(biggest, 0.5)
      margin: +spacing(biggest, 2) 0

      .pagination-links
        float: right
        text-align: right




.filter-el
  margin-top: 0
  display: none
  transition: all 1s ease-in-out

  h2
    &:first-child
      margin-top: 0


  &.visible
    transition: all 1s ease-in-out
    display: block
    opacity: 1



.listing-entry
  span.date, span.subline
    display: block
    color: #888
    &.date
      +fontsize(smaller)
    &.subline
      +fontsize(smallest)

// Entry list types
.entry-list
  &.hardware
    a
      max-height: 170px
      overflow: hidden
      border: none
    a:hover
      text-decoration: none
      border: none

    .listing-entry
      clear: both
      display: block
      background-size: 100%
      position: relative

      h2
        bottom: 20px
        margin-left: 20px
        color: white
        text-shadow: 5px 1px 8px black
        position: absolute
      img
        display: block


header
  a.up
    float: right
