@media screen and (max-width: 690px)
  body .wrapper
    padding-top: 2rem

    main
      margin-top: 0

  body .wrapper nav
    border-bottom: 1px dotted #cfcfcf

    display: block
    float: none
    position: static

    margin: 0
    padding: 0
    width: auto
    margin-bottom: 3rem
    height: 50px
    width: 100%
    text-align: right


    a
      padding-top: 13px
      padding-left: 0.5rem
      padding-right: 0.5rem
      padding-bottom: 10px
      display: inline-block
      text-align: center

      &.guy
        padding-top: 11px
        float: left
      
      &.active
        border-left: none
        border-bottom: 3px solid #d3ffc2
