@media screen and (max-width: 690px)
  body .wrapper
    padding-top: 0

    main
      margin-top: 7rem

  body .wrapper nav
    z-index: 10000
    display: block
    float: none
    position: absolute
    left: 0
    right: 0
    background: #ececec
    border-bottom: 1px dashed #cfcfcf

    margin: 0
    padding: 0
    width: auto
    margin-bottom: 3rem
    height: 50px
    width: 100%
    text-align: right

    .inner
      margin: 0 auto
      max-width: 550px
      padding-left: 2.403rem
      padding-right: 2.403rem
      box-sizing: border-box


    a
      padding-top: 13px
      padding-left: 0.5rem
      padding-right: 0.5rem
      padding-bottom: 10px
      display: inline-block
      text-align: center

      &.guy
        padding-top: 12px
        float: left
      
      &.active
        border-left: none
        border-top: 3px solid #d3ffc2
