/* Demo Section */

#demo {
}

section#demo nav {
  line-height: 22px;
  text-align: left;
  border-bottom: 1px dotted #cfcfcf;
  padding-bottom: 22px;
}
section#demo nav h3 {
  display: inline-block;
  padding: 0;
  margin-right: 10px;
  color: #c1c1c1;
  font-weight: normal;
  cursor: pointer;
  width: auto;
  border: none;
  position: relative;
  overflow: visible;
}
section#demo nav h3.active, #code-window.mmvp h3.mmvp, #code-window.todo h3.todo {
  font-weight: bold;
  color: #333;
}
h3.active::after, h3.active::before {
  bottom: -22px;
  left: 50%;
  border: solid transparent;
  content: "";
  width: 0;
  height: 0;
  position: absolute;

  border-left: 8px dotted;
  border-right: 8px dotted;
  border-bottom: 8px dotted;
  margin-left: -9px;
}
h3.active::after {
  border-color: white;
  border-bottom-color: #cfcfcf;
  z-index:10000;
}
h3.active::before {
  border-color: transparent;
  border-bottom-color: white;
  z-index:100000;
  top: 34px;
}

section#switcher {
  margin: 0;
  display: block;
  width: 100%;
  padding: 30px 20px;
  padding-bottom: 5px;
 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px dotted #cfcfcf;
}
section#switcher section { display: none; }
section#switcher section.active { display: block; }
section#switcher section.view { text-align: left; margin: 0; }
section#switcher section.model { margin: 0; margin-bottom: 35px; }
section#switcher section.model .syntaxhighlighter.js { 
  width: 360px !important; 
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

/* Text Input for New Items */
section#switcher section.view  #newitem {
  margin-top: 20px;
  padding-bottom: 15px;
}
section#switcher section.view #newitem input[type='text'] {
  font-family: Quattrocento Sans;
  padding: 4px;
  margin: 0;
  border: none;
  width: auto;
  outline: none;
  padding-left: 0;
  display: block;
}
section#switcher section.view  #newitem span {
  float: left;
  line-height: 16px;
  padding: 3px;
  padding-left: 4px;
  padding-right: 22px;
}

.code .syntaxhighlighter.js { width: 100% !important; }

section#switcher section.view #viewpen div {
  vertical-align: baseline;
  margin: 10px 0;
  margin-top: 0;
}
section#switcher section.view #viewpen div button,  section#switcher section.view #viewpen div input, section#switcher section.view #viewpen div span 
{
  vertical-align: middle;
}
section#switcher section.view #viewpen div span  {
  border-left: 1px dotted #cfcfcf;
  padding-left: 10px;
  margin-left: 10px;
}

section#switcher section.view input[type='checkbox'] {
  margin: 0;
}

section#switcher section.view #viewpen {
  font-size: 14px;
  margin-top: 12px;
}
section#switcher section.view #viewpen #items-container {
}
section#switcher section.view #viewpen #items-container div {
  opacity: 0;
}
section#switcher section.view #viewpen #items-container div span {
  text-align: left;
  display: inline-block;
}
section#switcher section.view #viewpen #items-container div.strikethrough span {
  text-decoration: line-through;
}

section#switcher section.view #viewpen #items-container div button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  float: right;
  font-size: 9px;
  border: 1px solid #cfcfcf;
  border-radius: 3px;
  padding: 3px 7px;
  color: #cfcfcf;
}
section#switcher section.view #viewpen #items-container div button:hover {
  cursor: pointer;
  background: #f9f9f9;
}
section#switcher section.view #no-items {
  opacity: 0;
  margin-bottom: 0 !important;
  text-align: center;
}
section#switcher section.view #viewpen h4 { 
  font-size: 16px;
}
section#switcher section.view #viewpen p { 
  font-size: 12px;
  margin: 0; 
}
#code { display: none; }
