<header>
  <a class='up' href="/interfaces">&uarr;</a>
  <h1>
    {{ title }}
    {% if status == 'production' %}
    <span class='status production'></span>
    {% else %}
    <span class='status experimental'></span>
    {% endif %}
  </h1>
  <span class='description'>{{ description|raw }}</span>
  <div class='links'>
    {% for title,url in links %}
      <div class="link">

      {% if url == "[object Object]" %}

        {% for sublink, suburl in url %}

        {% if sublink == "1" %}
          <a href="{{ suburl }}">{{ title }}</a>
          <a class='sub' href="{{ suburl }}">{{ sublink }}</a>
        {% else %}
          <a class='sub' href="{{ suburl }}">{{ sublink }}</a>
        {% endif %}

        {% endfor %}

      {% else %}
        <a href="{{ url }}">{{ title }}</a>
      {% endif %}

      </div>
    {% endfor %}
  </div>
</header>

<section class='content'>
  <div class='bar'>{{ yield|raw }} </div>
  {% if footnotes %}
    <ol class='footnotes'>
      {% for footnote in footnotes %}
        <li><span name='footnote-{{loop.index}}'>{{ footnote|raw }}</span></li>
      {% endfor %}
    </ol>   
  {% endif %}
</section>
