<header>
  <h1>{{ title }}</h1>
  <div class='filter-by'>
    <button class='active'>Web</button>
    <button>Linux</button>
  </div>

</header>

<section class='content'><div class='interfaces-list'>  

    {% for category, entries in categories %}

    {% if category == "web" %}
    <div class='filter-el visible' data-category-{{ category }}>
    {% else %}
    <div class='filter-el' data-category-{{ category }}>
    {% endif %}

      {% for entry in entries %}

      <a class='block link interface' href="{{ entry.url }}"><entry>
        <h2>{{ entry.title }}</h2>
        <span class='date'>{{ entry.description|raw }}</span>
      </entry></a>

    {% endfor %}</div>


    {% endfor %}

</div></section>
