<header>
  <h1>{{ title }}</h1>
  <div class='filter-by'>
    <button class='active'>Web</button>
    <button>Linux</button>
  </div>

</header>

<section class='content'><div class='interfaces-list'>
  {% for category, entries in categories %}

    {% if category == "web" %}
    <ul class='links-listing filter-el visible' data-category-{{ category }}>
    {% else %}
    <ul class='links-listing filter-el' data-category-{{ category }}>
    {% endif %}

    {% for entry in entries %}
      <li>
        <a href="{{ entry.url }}">
          <h2>
            {{ entry.title }}
            {% if entry.status == 'production' %}
              <span class='status production'></span>
            {% else %}
              <span class='status experimental'></span>
            {% endif %}
          </h2>
          <span class='subline'>{{ entry.description|raw }}</span>
        </a>
      </li>
    {% endfor %}

    </ul>

  {% endfor %}
</div></section>
