Options -Indexes +FollowSymLinks
AddType text/plain .scad


RewriteEngine on
RewriteBase /

# Max cache for a day, while in dev..
Header set Cache-Control "max-age=86400, public, must-revalidate"

# 404
ErrorDocument 404 /

# No traliing slashes
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [L,R=301]


Redirect /projects /interfaces
Redirect /ui /interfaces
Redirect /interfaces/userbound /
