{% for category, entries in categories %}
  {% if loop.first %}
  <ul class='links-listing filter-el visible' data-category-{{ category }}>
  {% else %}
  <ul class='links-listing filter-el' data-category-{{ category }}>
  {% endif %}


    {% for entry in entries %}

      {% if entry.category == "print" %}
        <li>
          <a class='model-preview' href="{{ entry.url }}">
            <img src="/works/{{entry.title}}/render.png" alt="{{ entry.title }}">
          </a>
        </li>
      {% elseif entry.category == "music" %}
        <div class='audio-player'>
          <div class='music-entry' data-filename='{{entry.wav}}'></div>

          <div class='controls'> 

            <svg class='play-pause'>
              <use class='play' xlink:href="/assets/images/icons.svg#icon-playback-play"></use>
              <use class='pause' xlink:href="/assets/images/icons.svg#icon-playback-pause"></use>
            </svg>

            <span class='date-caption'>
              {{ entry.datestamp | date('n/d/y') }}
            </span>



            <svg class='previous'>
              <use class='play' xlink:href="/assets/images/icons.svg#icon-arrow-left"></use>
            </svg>
            <svg class='next'>
              <use class='play' xlink:href="/assets/images/icons.svg#icon-arrow-right"></use>
            </svg>





          </div>
        </div>



      {% elseif entry.category == "mixtapes" %}

        {{ entry.__content | raw }}

      {% else %}

        <li>
          <a href="{{ entry.url }}">
            <h2>
              {{ entry.title }}

              {% if entry.status %}
                {% if entry.status == 'production' %}
                  <span class='status production'></span>
                {% else %}
                  <span class='status experimental'></span>
                {% endif %}
              {% endif %}
            </h2>
            <span class='subline'>
              {% if entry.date %}{{ entry.date }}{% endif %}
              {% if entry.description %}{{ entry.description|raw }}{% endif %}
            </span>
          </a>
        </li>

      {% endif %}



    {% endfor %}


  </ul>
{% endfor %}
