<footer>
  {% if next_entry || previous_entry %}
    <div class='pagination-links'>
      {% if next_entry %}
        {% set icon_attrs = {
            icon: 'arrow-left',
            title: next_entry.title,
            href: next_entry.url,
            class_list: ''
        } %}
        {% include "_partials/svg-icon-link.html" with icon_attrs only %}
      {% endif %}

      {% set icon_attrs = {
        icon: 'arrow-up-1',
        title: 'Go Up',
        href: '/' + collection_name,
        class_list: 'up'
      } %}
      {% include "_partials/svg-icon-link.html" with icon_attrs only %}


      {% if previous_entry %}
        {% set icon_attrs = {
            icon: 'arrow-right',
            title: previous_entry.title,
            href: previous_entry.url,
            class_list: ''
          } %}
        {% include "_partials/svg-icon-link.html" with icon_attrs only %}
      {% endif %}
    </div>
  {% endif %}



  {% set icon_attrs = {
    icon: 'cc-by',
    title: 'CC Attribution 3.0 Unported',
    href: 'http://creativecommons.org/licenses/by/3.0/',
    class_list: 'copyright'
  } %}
  {% include "_partials/svg-icon-link.html" with icon_attrs only %}



  {% set validation_link = 'http://validator.w3.org/check?uri=http://userbound.com/' + path %}
  {% set icon_attrs = {
    icon: 'check',
    title: 'Validate Against HTML5 DTD',
    href: validation_link,
    class_list: 'validate'
  } %}
  {% include "_partials/svg-icon-link.html" with icon_attrs only %}

</footer>
