<!doctype html>
<html>
<head>
  <title>{{ title }} | mil's userbound</title>
  <link rel="stylesheet" href="/assets/all.css">
  <link rel="icon" type="image/png" href="/assets/images/favicon.png"/>
  <script src="/assets/all.js"></script>
</head>
<body>

  <div class='wrapper'>
    <nav><div class='inner'>

        <a class='guy' href="/">
          <span class='head'></span>
          <span class='body'></span>
          {% if title == "Unoshowfcornow" %}
          <span class='feet'></span>
          {% endif %}
        </a>

        {% if title != "homepage-ignores-for-now" %}
          {% for link in nav_links %}
            {% if link.active_section %}
            <a class='active' href="{{ link.url }}" title="{{ link.title }}">{{ link.symbol|raw }}</a>
            {% else %}
              <a href="{{ link.url }}" title="{{ link.title }}"><span class='symbol'>{{ link.symbol|raw }}</span><span class='title'>{{link.title|capitalize}}</span></a>
            {% endif %}
          {% endfor %}
        {% endif %}

    </div></nav>




  <main>
