<!doctype html>
<html>
<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/assets/all.css">
  <script src="/assets/all.js"></script>
</head>
<body>

  <div class='wrapper'>
      <nav>
        <a class='guy' href="/">
          <span class='head'></span>
          <span class='body'></span>
          {% if title == "Unoshowfcornow" %}
          <span class='feet'></span>
          {% endif %}
        </a>

        {% if title != "Userbound" %}
          {% for link in nav_links %}
            {% if link.active_section %}
            <a class='active' href="{{ link.url }}" title="{{ link.title }}">{{ link.symbol|raw }}</a>
            {% else %}
              <a href="{{ link.url }}" title="{{ link.title }}">{{ link.symbol|raw }}</a>
            {% endif %}
          {% endfor %}
        {% endif %}
      </nav>




  <main>
