<nav>
  <div class='inner'>
    <a class='guy' href="/">
      <span class='head'></span>
      <span class='body'></span>
      {% if title == "Unoshowfcornow" %}
      <span class='feet'></span>
      {% endif %}
    </a>
    <div class='links'>
      <div class='equal-span'>
        {% for link in nav_links %}
        {% set t = link.title %}
        {% if title == "Userbound" %}
        {% set t = "" %}
        {% endif %}

        {% if link.active_section %}
        <a class='active {{ page_type}}' href="{{ link.url }}" title="{{ t|capitalize }}"><span class='symbol'>
            <svg class="icon-{{ link.symbol||raw }}"><use xlink:href="/assets/images/icons.svg#icon-{{ link.symbol||raw }}"></use></svg>
          </span></a>
          {% else %}
          <a href="{{ link.url }}" title="{{ t|capitalize }}">
            <span class='symbol'>
              <svg class="icon-{{ link.symbol||raw }}"><use xlink:href="/assets/images/icons.svg#icon-{{ link.symbol||raw }}"></use></svg>
            </span>
            <span class='title'>{{link.title|capitalize}}</span></a>
          {% endif %}
          {% endfor %}
      </div>
    </div>
  </div>
</nav>
