@mixin keyframes($animation_handle)
  @-webkit-keyframes #{$animation_handle}
    @content 
  @-moz-keyframes #{$animation_handle}
    @content
  @keyframes #{$animation_handle}
    @content

@include keyframes(fadeIn)
  from 
    opacity: 0
    top: 15px
  to
    opacity: 1
    top: 0
 



html
  font-size: 14px

main
  max-width:  600px
  width: 100%
  margin: 0 auto

$seperator_line: 1px solid #cfcfcf
img
  width: 100%

header
  border-bottom: $seperator_line
  padding: 1rem 0
  margin: 1rem 0

footer
  border-top: $seperator_line
  padding: 1rem 0
  margin: 1rem 0


a
  text-decoration: none
  color: #888888

  &.active
    margin-right: 1rem

    -webkit-animation: fadeIn 0.5s
    position: relative
    animation: fadeIn 0.3s

    &:after
      border-right: 1px dotted #cfcfcf
      content: " "
      height: 10px
      display: inline-block
      margin-left: 1rem


