html
  font-size: 14px

main
  max-width:  600px
  width: 100%
  margin: 0 auto

$seperator_line: 1px solid #cfcfcf
img
  width: 100%

header
  border-bottom: $seperator_line
  padding: 1rem 0
  margin: 1rem 0

footer
  border-top: $seperator_line
  padding: 1rem 0
  margin: 1rem 0


a
  text-decoration: none
  color: #888888

  &.active
    border-right: 1px dotted #cfcfcf
    padding-right: 1rem
    margin-right: 1rem
