$seperator_line: 1px solid #cfcfcf
$root_font: Libre Baskerville

html

  
  body
    font-size: 16px
    font-family: $root_font
    line-height: 2rem

  button
    font-family: $root_font

  a 
    text-decoration: none
    color: #111111

  hr
    height: 0px
    border: none
    display: block
    //border-top: $seperator_line


main
  max-width:  500px
  margin: 0 auto
  padding: 0 30px
  margin-top: 5rem
  +box-sizing(border-box)

  article
    +animate(fadeIn 0.3s)

  .bar
    max-width: 500px
    margin: 0 auto


img
  width: 100%


nav
  //border-top: 3px solid #cfc
  //padding-top: 1rem
  margin-left: -5rem
  position: absolute
  text-align: right
  a
    +animate(fadeIn 2s)
    position: relative
    display: block
    color: #888
    margin-bottom: 0.5rem
    @fontsize

    &:hover
      font-size: 1.5rem
      +animate(sizeUp 0.3s)


    &.active 
      +animate(fadeInDoubly 1s)

      color: black
      font-size: 2rem
      margin-bottom: 3rem
      //&:before
      //  display: block
      //  content: ">"
      //  position: absolute
      //  margin-left: -20px


header
  & + hr
    margin-bottom: 6rem

  padding: 0.4rem 0
  margin: 1rem 0
  font-size: 0.9rem
  text-align: right

  nav
    position: absolute
    a
      display: block

  a
    &.miles
      float: left
    
    &.up
      float: right

    &.active
      +animate(fadeIn 1s)
      position: relative
      color: black 
      float: right
      border-left: 1px dotted #cfcfcf
      margin-left: 1rem


      padding-left: 10px
      .title
        padding: 0 10px
        margin-left: 10px

  span.seperator
    float: left
    border-right: 1px dotted #cfcfcf
    content: " "
    height: 16px
    display: inline-block
    margin-left: 1rem



footer
  padding: 1rem 0
  margin: 1rem 0


h1,h2,h3
  font-family: Libre Baskerville

h1
  +fontsize(biggest)
  margin: 1rem 0
h2
  +fontsize(bigger)
  color: #080d3b
p 
  margin-bottom: 1rem


// Header section at top of each page
.page-info
  margin-bottom: 3rem
  line-height: 1.5rem
  font-size: 0.889rem
  color: #888

  h1
    color: black
    margin: 0
    line-height: 2rem

  button
    padding: 0
    margin: 0
    background: none
    border: none

    +fontsize(smaller)

    margin-right: 1rem


.up
  float: right

.blocks
  margin-top: 4rem
  .block
    width: 33%
    margin-bottom: 1rem
    padding-right: 1%
    display: inline-block


.model
  overflow: hidden
  position: relative
  img
    width: 100%
  code
    position: absolute
    display: block
    line-height: 0.8em
    font-size: 0.8em
    line-height: 1em
    white-space: pre-wrap
    padding: 0 30px
    border: 1px dashed #cfcfcf
    &.show
      display: block

.sort-by
  margin-bottom: 2rem
.interfaces-list
  .interface
    h2
      margin-bottom: 1rem

    display: block
    font-size: 0.9rem
    line-height: 1.2rem
    margin-bottom: 3rem

.pagination-links
  text-align: right

.block, p, pre
  display: block
  margin-bottom: 2rem

code, pre
  font-family: Ubuntu Mono
  +fontsize(smaller)
  border: 1px dashed #cfcfcf
  padding: 1rem
  overflow-x: scroll


entry
  line-height: 1rem
span.date
  +fontsize(smaller)
  color: #888
