<!doctype html>
<html>
<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/assets/all.css">
  <script src="/assets/all.js"></script>
</head>
<body>

  <div class='wrapper'>
      <nav>
        {% if active_section %}
        <a href="{{ active_section.url }}" class='symbol active'> {{ active_section.symbol|raw }} </a>
        {% endif %}

        {% for link in top_nav_links %}
        <a href="{{ link.url }}" title="{{ link.title }}">{{ link.symbol|raw }}</a>
        {% endfor %}
      </nav>




  <main>
