<!doctype html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/assets/all.css">
  <script src="/assets/all.js"></script>
</head>
<body>

  <div class='wrapper'>
      <% act = null %>
      <% _.forEach(top_nav_links, function(link) { %>
      <% if (link.title.toLowerCase() == active_section) { %>
      <% act = link %>
      <% } %>
      <% }); %>




      <nav>
        <% if (act) { %>
        <a href="<%= act.url %>" class='symbol active'><%= act.symbol %></a>
        <% } %>

        <% _.forEach(top_nav_links, function(link) { %>
        <% if (link.title.toLowerCase() != active_section) { %>
        <a href="<%- link.url %>" title="<%- link.title %>"><%= link.symbol %></a>
        <% } %>

        <% }); %>


      </nav>




  <main>
