<!doctype html>
<html>
<head>
  <title><%= fem.title %></title>
  <link rel="stylesheet" href="/assets/all.css">
  <script src="/assets/all.js"></script>
</head>
<body>
  <main>
  <!--

  <header class='bar'>

      <nav>

        <% _.forEach(top_nav_links, function(link) { %>
        <% if (link.title.toLowerCase() == active_section) { %>
        <a class='active' href="<%- link.url %>" title="<%- link.title %>"><%= link.symbol %><span class='title'><%= link.title %></span></a>
        <% } else { %>
        <a href="<%- link.url %>" title="<%- link.title %>"><%= link.symbol %></a>
        <% } %>

        <% }); %>





      </nav>

  </header>
  --!>


      <% _.forEach(top_nav_links, function(link) { %>
      <% if (link.title.toLowerCase() == active_section) { %>
      <% act = link %>
      <% } %>
      <% }); %>




      <nav>

        <a href="<%= act.url %>" class='symbol active'><%= act.symbol %></a>

        <% _.forEach(top_nav_links, function(link) { %>
        <% if (link.title.toLowerCase() != active_section) { %>
        <a href="<%- link.url %>" title="<%- link.title %>"><%= link.symbol %></a>
        <% } %>

        <% }); %>


      </nav>


      <!--

      <% if (page_type != "section") { %>
      <div class='category'>
      <%= act.symbol %>
      </div>
      <% } %>
      --!>





      <!--
  <% _.isEqual(page_type, "entry", function(a,b) { if (a == b) { %>
    <a class='up' href="#">&uarr;</a>
  <% } }); %>
  !-->
